
## Q 1
Your first assignment is to write code to get input from user and store in dictionary and then store that dictionary in list.
Here is the required input.
```python
[
    {"name" : "Hamza Ali",
     "age"  : 25,
     "work" : "A.I",
     "skills" : ["python", "tensorflow", "cloud"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"},
     "salary" : 259999
     },
     {"name" : "Farooq Aziz",
     "age"  : 27,
     "work" : "Cloud Native",
     "skills" : ["ubuntu", "docker", "kubernetes"],
     "degree" : {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"},
     "salary" : 200000
     },
     {"name" : "Abu Bakr",
     "age"  : 30,
     "work" : "Blockchain",
     "skills" : ["python", "Cryptography", "Ethereum"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"},
     "salary" : 300000
     }
]
```

In [1]:
main_list = []
# empty list to store the record entered by user

iteration = int(input("how many records you want to enter" ))
for i in range(iteration):
    myDic = {}
   # itera = int(input("Enter how many values you want to enter: "))
    for i in range(6):
        if i==0:
            name = input("enter your Name:")
            myDic["Name"] = name
        if i==1:
            age = input("enter your age: ")
            myDic["age"] = age
        if i==2:
            work = input("enter your work: ")
            myDic["work"] = work
        if i==3:
            skills = []  # empty list to store the skill entered by user
            skill = input("Enter your skills seprated by commas:")
            #skill = skill.split(",")
            skills.append(skill)
            myDic["Skills"] = skills
        if i==4:
            degree ={}
            for d in range(3):
                if d ==0:
                    title = input("Enter your degree title: ")
                    degree["Title"] = title
                if d ==1:
                    major = input("Enter your degree Major: ")
                    degree["Major"] = major
                if d ==2:
                    cmplDate = input("Enter your degree Completion data: ")
                    degree["CompletionDate"] = cmplDate
            myDic["degree"] = degree
        if i==5:
            salary = input("enter your salary: ")
            myDic["salary"] = salary
    main_list.append(myDic)

how many records you want to enter2
enter your Name:Zeeshan
enter your age: 26
enter your work: teacher
Enter your skills seprated by commas:python,java,chem
Enter your degree title: BS
Enter your degree Major: CS
Enter your degree Completion data: 25-08-2016
enter your salary: 40000
enter your Name:Fahad
enter your age: 26
enter your work: teacher
Enter your skills seprated by commas:teachig,mgmt
Enter your degree title: BS
Enter your degree Major: Politics
Enter your degree Completion data: 23-09-2017
enter your salary: 35000

In [3]:
main_list

[{'Name': 'Zeeshan',
  'age': '26',
  'work': 'teacher',
  'Skills': ['python,java,chem'],
  'degree': {'Title': 'BS', 'Major': 'CS', 'CompletionDate': '25-08-2016'},
  'salary': '40000'},
 {'Name': 'Fahad',
  'age': '26',
  'work': 'teacher',
  'Skills': ['teachig,mgmt'],
  'degree': {'Title': 'BS',
   'Major': 'Politics',
   'CompletionDate': '23-09-2017'},
  'salary': '35000'}]

## Q 2 Part one
Take input from user and print table in that range. Suppose user input 5 and 10. Then print table of `5,6,7,8,9,10`

And ouput should be as follows.
```
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
```

In [4]:
# Ans Part one
startingVal = int(input("Enter starting val for which you want to print th table: "))
endVal = int(input("Enter end val you want to print the table: "))
for i in range(startingVal,endVal+1):
    print("\n")
    if i > 0:
        for j in range(1,11):
            print(f"{i} * {j} = {j * i}")

Enter starting val for which you want to print th table: 2
Enter end val you want to print the table: 40


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50


6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60


7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70


8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80


9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90


10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100


11 * 1 = 11
11 * 2 = 22
11 * 3 = 33
11 * 4 = 44
11 * 5 = 55
11 * 6 = 66
11 * 7 = 77
11 * 8 = 88
11 * 9 = 99
11 * 10 = 110


12 * 1 = 12
12 * 2 = 24
12 * 3 = 36
12 * 4 = 48
12 * 5 = 60
12 * 6 = 72
12 * 7 = 84
12 * 8 = 96
12 * 9 = 108
12 * 10 = 120


13 * 1 = 13
13 * 2 = 26
13 * 3 = 39
13 * 4 = 52
13 * 5 = 65
13 * 6 = 78
13 * 7 = 91
13 * 8 = 104
13 * 9 = 117
13 * 10 = 130


14 * 1 = 14
14 * 2 = 28
14 * 3 = 42
14 * 4 = 56
14 * 5 = 70
14 * 6 = 84
14 * 7 = 98
14 * 8 = 112
14 * 9 = 126
14 * 10 = 140


15 * 1 = 15
15 * 2 = 30
15 * 3 = 45
15 * 4 = 60
15 * 5 = 75
15 * 6 = 90
15 * 7 = 105
15 * 8 = 120
15 * 9 = 135
15 * 10 = 150


16 * 1 = 16
16 * 2 = 32
16 * 3 = 48
16 * 4 = 64
16 * 5 = 80
16 * 6 = 96
16 * 7 = 112
16 * 8 = 128
16 * 9 = 144
16 * 10 = 160


17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170


18 * 1 = 18
18 * 2 = 36
18 * 3 = 54
18 * 4 = 72
18 * 5 = 90
18 * 6 = 108
18 * 7 = 126
18 * 8 = 144
18 * 9 = 162
18 * 10 = 180


19 * 1 = 19
19 * 2 = 38
19 * 3 = 57
19 * 4 = 76
19 * 5 = 95
19 * 6 = 114
19 * 7 = 133
19 * 8 = 152
19 * 9 = 171
19 * 10 = 190


20 * 1 = 20
20 * 2 = 40
20 * 3 = 60
20 * 4 = 80
20 * 5 = 100
20 * 6 = 120
20 * 7 = 140
20 * 8 = 160
20 * 9 = 180
20 * 10 = 200


21 * 1 = 21
21 * 2 = 42
21 * 3 = 63
21 * 4 = 84
21 * 5 = 105
21 * 6 = 126
21 * 7 = 147
21 * 8 = 168
21 * 9 = 189
21 * 10 = 210


22 * 1 = 22
22 * 2 = 44
22 * 3 = 66
22 * 4 = 88
22 * 5 = 110
22 * 6 = 132
22 * 7 = 154
22 * 8 = 176
22 * 9 = 198
22 * 10 = 220


23 * 1 = 23
23 * 2 = 46
23 * 3 = 69
23 * 4 = 92
23 * 5 = 115
23 * 6 = 138
23 * 7 = 161
23 * 8 = 184
23 * 9 = 207
23 * 10 = 230


24 * 1 = 24
24 * 2 = 48
24 * 3 = 72
24 * 4 = 96
24 * 5 = 120
24 * 6 = 144
24 * 7 = 168
24 * 8 = 192
24 * 9 = 216
24 * 10 = 240


25 * 1 = 25
25 * 2 = 50
25 * 3 = 75
25 * 4 = 100
25 * 5 = 125
25 * 6 = 150
25 * 7 = 175
25 * 8 = 200
25 * 9 = 225
25 * 10 = 250


26 * 1 = 26
26 * 2 = 52
26 * 3 = 78
26 * 4 = 104
26 * 5 = 130
26 * 6 = 156
26 * 7 = 182
26 * 8 = 208
26 * 9 = 234
26 * 10 = 260


27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270


28 * 1 = 28
28 * 2 = 56
28 * 3 = 84
28 * 4 = 112
28 * 5 = 140
28 * 6 = 168
28 * 7 = 196
28 * 8 = 224
28 * 9 = 252
28 * 10 = 280


29 * 1 = 29
29 * 2 = 58
29 * 3 = 87
29 * 4 = 116
29 * 5 = 145
29 * 6 = 174
29 * 7 = 203
29 * 8 = 232
29 * 9 = 261
29 * 10 = 290


30 * 1 = 30
30 * 2 = 60
30 * 3 = 90
30 * 4 = 120
30 * 5 = 150
30 * 6 = 180
30 * 7 = 210
30 * 8 = 240
30 * 9 = 270
30 * 10 = 300


31 * 1 = 31
31 * 2 = 62
31 * 3 = 93
31 * 4 = 124
31 * 5 = 155
31 * 6 = 186
31 * 7 = 217
31 * 8 = 248
31 * 9 = 279
31 * 10 = 310


32 * 1 = 32
32 * 2 = 64
32 * 3 = 96
32 * 4 = 128
32 * 5 = 160
32 * 6 = 192
32 * 7 = 224
32 * 8 = 256
32 * 9 = 288
32 * 10 = 320


33 * 1 = 33
33 * 2 = 66
33 * 3 = 99
33 * 4 = 132
33 * 5 = 165
33 * 6 = 198
33 * 7 = 231
33 * 8 = 264
33 * 9 = 297
33 * 10 = 330


34 * 1 = 34
34 * 2 = 68
34 * 3 = 102
34 * 4 = 136
34 * 5 = 170
34 * 6 = 204
34 * 7 = 238
34 * 8 = 272
34 * 9 = 306
34 * 10 = 340


35 * 1 = 35
35 * 2 = 70
35 * 3 = 105
35 * 4 = 140
35 * 5 = 175
35 * 6 = 210
35 * 7 = 245
35 * 8 = 280
35 * 9 = 315
35 * 10 = 350


36 * 1 = 36
36 * 2 = 72
36 * 3 = 108
36 * 4 = 144
36 * 5 = 180
36 * 6 = 216
36 * 7 = 252
36 * 8 = 288
36 * 9 = 324
36 * 10 = 360


37 * 1 = 37
37 * 2 = 74
37 * 3 = 111
37 * 4 = 148
37 * 5 = 185
37 * 6 = 222
37 * 7 = 259
37 * 8 = 296
37 * 9 = 333
37 * 10 = 370


38 * 1 = 38
38 * 2 = 76
38 * 3 = 114
38 * 4 = 152
38 * 5 = 190
38 * 6 = 228
38 * 7 = 266
38 * 8 = 304
38 * 9 = 342
38 * 10 = 380


39 * 1 = 39
39 * 2 = 78
39 * 3 = 117
39 * 4 = 156
39 * 5 = 195
39 * 6 = 234
39 * 7 = 273
39 * 8 = 312
39 * 9 = 351
39 * 10 = 390


40 * 1 = 40
40 * 2 = 80
40 * 3 = 120
40 * 4 = 160
40 * 5 = 200
40 * 6 = 240
40 * 7 = 280
40 * 8 = 320
40 * 9 = 360
40 * 10 = 400

Q.2 part b: And second output should be like
```
5 x 1 = 5	  6 x 1 = 6	  7 x 1 = 7	  8 x 1 = 8	   9 x 1 = 9	   10 x 1 = 10	  
5 x 2 = 10	  6 x 2 = 12	  7 x 2 = 14	  8 x 2 = 16	  9 x 2 = 18	  10 x 2 = 20	  
5 x 3 = 15	  6 x 3 = 18	  7 x 3 = 21	  8 x 3 = 24	  9 x 3 = 27	  10 x 3 = 30	  
5 x 4 = 20	  6 x 4 = 24	  7 x 4 = 28	  8 x 4 = 32	  9 x 4 = 36	  10 x 4 = 40	  
5 x 5 = 25	  6 x 5 = 30	  7 x 5 = 35	  8 x 5 = 40	  9 x 5 = 45	  10 x 5 = 50	  
5 x 6 = 30	  6 x 6 = 36	  7 x 6 = 42	  8 x 6 = 48	  9 x 6 = 54	  10 x 6 = 60	  
5 x 7 = 35	  6 x 7 = 42	  7 x 7 = 49	  8 x 7 = 56	  9 x 7 = 63	  10 x 7 = 70	  
5 x 8 = 40	  6 x 8 = 48	  7 x 8 = 56	  8 x 8 = 64	  9 x 8 = 72	  10 x 8 = 80	  
5 x 9 = 45	  6 x 9 = 54	  7 x 9 = 63	  8 x 9 = 72	  9 x 9 = 81	  10 x 9 = 90	  
5 x 10 = 50	  6 x 10 = 60	  7 x 10 = 70	  8 x 10 = 80	  9 x 10 = 90	  10 x 10 = 100

```

In [7]:
## answer quetion 2 part 2
startingVal = int(input("Enter starting val for which you want to print th table: "))
endVal = int(input("Enter end val you want to print the table: "))
for i in range(1,11):
    for j in range(startingVal,endVal+1):
        print(f"{i} * {j} = {i*j}", end="\t")
    print()

Enter starting val for which you want to print th table: 5
Enter end val you want to print the table: 10
1 * 5 = 5	1 * 6 = 6	1 * 7 = 7	1 * 8 = 8	1 * 9 = 9	1 * 10 = 10
2 * 5 = 10	2 * 6 = 12	2 * 7 = 14	2 * 8 = 16	2 * 9 = 18	2 * 10 = 20
3 * 5 = 15	3 * 6 = 18	3 * 7 = 21	3 * 8 = 24	3 * 9 = 27	3 * 10 = 30
4 * 5 = 20	4 * 6 = 24	4 * 7 = 28	4 * 8 = 32	4 * 9 = 36	4 * 10 = 40
5 * 5 = 25	5 * 6 = 30	5 * 7 = 35	5 * 8 = 40	5 * 9 = 45	5 * 10 = 50
6 * 5 = 30	6 * 6 = 36	6 * 7 = 42	6 * 8 = 48	6 * 9 = 54	6 * 10 = 60
7 * 5 = 35	7 * 6 = 42	7 * 7 = 49	7 * 8 = 56	7 * 9 = 63	7 * 10 = 70
8 * 5 = 40	8 * 6 = 48	8 * 7 = 56	8 * 8 = 64	8 * 9 = 72	8 * 10 = 80
9 * 5 = 45	9 * 6 = 54	9 * 7 = 63	9 * 8 = 72	9 * 9 = 81	9 * 10 = 90
10 * 5 = 50	10 * 6 = 60	10 * 7 = 70	10 * 8 = 80	10 * 9 = 90	10 * 10 = 100