
## Q 1
Your first assignment is to write code to get input from user and store in dictionary and then store that dictionary in list.
Here is the required input.
```python
[
    {"name" : "Hamza Ali",
     "age"  : 25,
     "work" : "A.I",
     "skills" : ["python", "tensorflow", "cloud"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "Jun 2019"},
     "salary" : 259999
     },
     {"name" : "Farooq Aziz",
     "age"  : 27,
     "work" : "Cloud Native",
     "skills" : ["ubuntu", "docker", "kubernetes"],
     "degree" : {"title" : "MS", "major" : "Software engineer", "completionDate" : "May 2018"},
     "salary" : 200000
     },
     {"name" : "Abu Bakr",
     "age"  : 30,
     "work" : "Blockchain",
     "skills" : ["python", "Cryptography", "Ethereum"],
     "degree" : {"title" : "BS", "major" : "computer Science", "completionDate" : "May 2019"},
     "salary" : 300000
     }
]
```

In [43]:
main_list = []
# empty list to store the record entered by user

iteration = int(input("how many records you want to enter" ))
for i in range(iteration):
    myDic = {}
   # itera = int(input("Enter how many values you want to enter: "))
    for i in range(6):
        if i==0:
            name = input("enter your Name:")
            myDic["Name"] = name
        if i==1:
            age = input("enter your age: ")
            myDic["age"] = age
        if i==2:
            work = input("enter your work: ")
            myDic["work"] = work
        if i==3:
            skills = []  # empty list to store the skill entered by user
            skill = input("Enter your skills seprated by commas:")
            #skill = skill.split(",")
            skills.append(skill)
            myDic["Skills"] = skills
        if i==4:
            degree ={}
            for d in range(3):
                if d ==0:
                    title = input("Enter your degree title: ")
                    degree["Title"] = title
                if d ==1:
                    major = input("Enter your degree Major: ")
                    degree["Major"] = major
                if d ==2:
                    cmplDate = input("Enter your degree Completion data: ")
                    degree["CompletionDate"] = cmplDate
            myDic["degree"] = degree
        if i==5:
            salary = input("enter your salary: ")
            myDic["salary"] = salary
    main_list.append(myDic)

how many records you want to enter2
enter your Name:Zee
enter your age: 24
enter your work: pro
Enter your skills seprated by commas:python,java,oracle
Enter your degree title: MS
Enter your degree Major: CS
Enter your degree Completion data: 29 sep 2020
enter your salary: 230000
enter your Name:Ali
enter your age: Ahmad
enter your work: Pro
Enter your skills seprated by commas:java,oracle,docker
Enter your degree title: BS
Enter your degree Major: CS
Enter your degree Completion data: 20 oct 2020
enter your salary: 45000

In [44]:
main_list

[{'Name': 'Zee',
  'age': '24',
  'work': 'pro',
  'Skills': ['python,java,oracle'],
  'degree': {'Title': 'MS', 'Major': 'CS', 'CompletionDate': '29 sep 2020'},
  'salary': '230000'},
 {'Name': 'Ali',
  'age': 'Ahmad',
  'work': 'Pro',
  'Skills': ['java,oracle,docker'],
  'degree': {'Title': 'BS', 'Major': 'CS', 'CompletionDate': '20 oct 2020'},
  'salary': '45000'}]

## Q 2 Part one
Take input from user and print table in that range. Suppose user input 5 and 10. Then print table of `5,6,7,8,9,10`

And ouput should be as follows.
```
1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100
```

In [4]:
# Ans Part one
startingVal = int(input("Enter starting val for which you want to print th table: "))
endVal = int(input("Enter end val you want to print the table: "))
for i in range(startingVal,endVal+1):
    print("\n")
    if i > 0:
        for j in range(1,11):
            print(f"{i} * {j} = {j * i}")

Enter starting val for which you want to print th table: 1
Enter end val you want to print the table: 5


1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10


2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20


3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30


4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40


5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

Q.2 part b: And second output should be like
```
5 x 1 = 5	  6 x 1 = 6	  7 x 1 = 7	  8 x 1 = 8	   9 x 1 = 9	   10 x 1 = 10	  
5 x 2 = 10	  6 x 2 = 12	  7 x 2 = 14	  8 x 2 = 16	  9 x 2 = 18	  10 x 2 = 20	  
5 x 3 = 15	  6 x 3 = 18	  7 x 3 = 21	  8 x 3 = 24	  9 x 3 = 27	  10 x 3 = 30	  
5 x 4 = 20	  6 x 4 = 24	  7 x 4 = 28	  8 x 4 = 32	  9 x 4 = 36	  10 x 4 = 40	  
5 x 5 = 25	  6 x 5 = 30	  7 x 5 = 35	  8 x 5 = 40	  9 x 5 = 45	  10 x 5 = 50	  
5 x 6 = 30	  6 x 6 = 36	  7 x 6 = 42	  8 x 6 = 48	  9 x 6 = 54	  10 x 6 = 60	  
5 x 7 = 35	  6 x 7 = 42	  7 x 7 = 49	  8 x 7 = 56	  9 x 7 = 63	  10 x 7 = 70	  
5 x 8 = 40	  6 x 8 = 48	  7 x 8 = 56	  8 x 8 = 64	  9 x 8 = 72	  10 x 8 = 80	  
5 x 9 = 45	  6 x 9 = 54	  7 x 9 = 63	  8 x 9 = 72	  9 x 9 = 81	  10 x 9 = 90	  
5 x 10 = 50	  6 x 10 = 60	  7 x 10 = 70	  8 x 10 = 80	  9 x 10 = 90	  10 x 10 = 100

```

In [4]:
## answer quetion 2 part 2
startingVal = int(input("Enter starting val for which you want to print th table: "))
endVal = int(input("Enter end val you want to print the table: "))
for i in range(1,11):
    #print("\n")
    #if i > 0:
    for j in range(startingVal,endVal):
        print(f"{j} * {i} = {i * j}",end = "\t")
          #  print( end ="\t" )

Enter starting val for which you want to print th table: 2
Enter end val you want to print the table: 5
2 * 1 = 2	3 * 1 = 3	4 * 1 = 4	2 * 2 = 4	3 * 2 = 6	4 * 2 = 8	2 * 3 = 6	3 * 3 = 9	4 * 3 = 12	2 * 4 = 8	3 * 4 = 12	4 * 4 = 16	2 * 5 = 10	3 * 5 = 15	4 * 5 = 20	2 * 6 = 12	3 * 6 = 18	4 * 6 = 24	2 * 7 = 14	3 * 7 = 21	4 * 7 = 28	2 * 8 = 16	3 * 8 = 24	4 * 8 = 32	2 * 9 = 18	3 * 9 = 27	4 * 9 = 36	2 * 10 = 20	3 * 10 = 30	4 * 10 = 40